
.passage{
    border:1px solid #f1f1f1;
    clear: both;
    width: 71.8%;
    margin: 2% 0px 20px 1%;
}

.passage p{
    text-indent: 2em;
    line-height: 35px;
}
.passage h2{
    color:#0099ff
}