@charset "utf-8";
.header {
    background-color:#f1f1f1;
    height:auto;
    margin: 5px;
    text-align: center;
}
/*导航栏属性*/
.topnav {
    overflow: hidden;
    background-color: #0099FF;
}
/*导航栏链接 属性*/
.topnav a{
    text-decoration: none;
    text-align: center;
    display: block;
    float: left;
    padding: 14px 16px;
    color: white;
}
/*链接 修改颜色*/
.topnav a:hover{
    background-color: white;
    color: #0099FF;
}
/*清除列后面的浮动*/
.row:after{
    content: "";
    clear: both;  
    display: table;
}
.column{
    float: left;
    padding: 5px;
}
/*左侧栏目的内容*/
.column.left{
    width: auto;
    height: auto;
    background-color: #f1f1f1

}
/*中间栏目*/
.column.middle{
    width: 82%;
    background-color: #f1f1f1;
}
.column.left a{
    text-decoration: none;
    overflow: hidden;
    background-color: #f1f1f1;
    color: black;
    display: block;
    padding:14px 16px;
    text-align: center;
}
.column.left a:hover{
    background-color: white;
    color: black;
}
/*伪类*/
.column.left a:link{
    color: black;
}
.column.left a:hover{
    color: #0099FF;
}
div{
    margin:5px
}
.goto a{
    text-decoration: none;
    padding: 1px;
    text-align: center;
    display: block;
}